{% extends 'template/base.twig' %}
{% set title = '' %}
{% for info in getInfo %}
    {% set title =  info.name  %}
{% endfor %}
{% block styles %}
    <link href="/css/materializeaddons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block content %}

    {% include 'template/header.twig' %}

    <main>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col s12">
                        <div class="card-panel">
                            <div class="center-align">
                                <h4>Musikant</h4>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    <p>Navn:</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    <p>Fødselsdag: </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    <p>Address:</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    <p>Email: </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    <p>TLF: </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    <p>Korps: </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col s12">
                        <div class="card-panel">
                            <div class="center-align">
                                <h4>Tilstedeværelse</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    {% include 'template/footer-online.twig' %}

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="/js/general.js"></script>

{% endblock %}







