<header>
    <img class="logo" src="/img/HSK-logohvit.png" alt="logo">
    <h1 class="name">Haukerød skolekorps</h1>
    <nav style="background: transparent !important; box-shadow: none !important; " id="nav">
        <a id="home" href="/">Hjem</a>
        <a id="about" href="/about">Om HSK</a>
        <a id="info" href="/info">Informasjon</a>
        <a id="calendar" href="/calendar">Kalender</a>
        <a id="contact" href="/contact">Kontakt oss</a>
    </nav>
</header>



