{% extends 'template/base.twig' %}
{% set title = 'Forum' %}
{% block styles %}
    <link href="/css/materializeaddons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block content %}

    {% include 'template/header.twig' %}

    <main class="grey lighten-5">
        <div class="section">
            <div class="container">
                <form method="post">
                    <input type="text" name="subject" placeholder="Subject">
                    <input type="text" name="content" placeholder="What was the problem?">
                    <button>Submit</button>
                </form>
            </div>
        </div>
    </main>

    {% include 'template/footer-online.twig' %}

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="/js/general.js"></script>
{% endblock %}







